*~
*.so
*.so.*
*.o
*.scite
*.gz
autom4te.cache/
.deps/
.libs/
Makefile
aclocal.m4
arduserial.lo
config.h.in~
configure.scan
libarduserial.la
libtool
stamp-h1
test/
*.anjuta
*.log
*.sum
Makefile.in
ar-lib
config.status
config.sub
site.exp
.anjuta_sym_db.db
compile
configure
config.h
config.h.in
depcomp
#*#
config.guess
install-sh
ltmain.sh
m4/
missing