*~
*.so
*.so.*
*.o
*.scite
*.gz
autom4te.cache/
autoscan.log
config.h
config.h.in
config.log
.deps/
.libs/
ChangeLog
Makefile
Makefile.in
aclocal.m4
arduserial.lo
compile
config.h.in~
configure.scan
depcomp
libarduserial.la
libtool
m4/
missing
stamp-h1
test/
